<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ramos Flores Rafael</title>
</head>
<body>
<h1>
Seleccione la operacion
</h1>

<ul>
	<li><a href="calculoSuma?num1=20&num2=10">Suma</a></li>
	<li><a href="calculoMultiplica?num1=10&num2=10">Multiplica</li>
	<li><a href="calculoDivide?num1=10&num2=5">Division</li>
	<li><a href="calculoResta?num1=123&num2=23">Resta</li>
	<li><a href="calculoPotencia?num1=10&num2=2">Potencia</li>
	<li><a href="calculoRaiz?num1=4">Raiz</li>
	<li><a href="calculoRaizN?num1=8&num2=3">RaizN</li>

</ul>

</body>
</html>